#grid-area {
  display: flex;
  flex-direction: row;
  width: 640px;
  height: 640px;
  margin-left: 0px;
  border: black solid 3px;
  align-self: center;
  justify-self: center;
}

.grid-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-row {
  width: 100%;
  height: 10vh;
  margin: 0;
}

.grid-row:hover {
  background-color: black;
  width: 100%;
  margin: 0px;
}